body {
    color: #000;
    font-family: 'Microsoft Yahei',Helvetica,arial,sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

header {
    background-color: #E4A317;
    padding: 40px;
    border-bottom: 2px solid #906800;
}

    header h1 {
        font-size: 60px;
        color: #FFF;
    }

.hide {
    display: none;
}

.bottom-area {
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding-bottom: 8px;
    margin: 8px auto 0 auto;
}

footer {
    border-top: 1px solid #cecece;
    padding-top: 10px;
    margin-top: 10px;
}

    footer p {
        font-weight: bold;
        text-align: center;
    }
