body {
    color: #000;
    font-family: 'Microsoft Yahei',Helvetica,arial,sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

header {
    background-color: #E4A317;
    padding: 40px;
    border-bottom: 2px solid #906800;
}

    header h1 {
        font-size: 60px;
        color: #FFF;
    }

.hide {
    display: none;
}
