header {
    padding: 0;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 3000;
    height: 45px;
}

    header h1 {
        color: #FFF;
    }

    header .title {
        float: left;
        font-weight: bold;
        font-size: 18px;
        padding: 10px;
        -webkit-user-select: none;
        user-select: none;
        cursor: default;
    }

    header .tools {
        float: left;
        margin-left: 40px;
        margin-top: 6px;
        border: 1px #dbdbdb solid;
        border-radius: 3px;
        background-color: #eaeaea;
    }

        header .tools .tool {
            float: left;
            height: 30px;
            width: 30px;
            border-right: 1px #dbdbdb solid;
            background-position: center center;
            background-repeat: no-repeat;
            cursor: pointer;
        }

            header .tools .tool:hover, .tool.selected {
                background-color: #D5D5D5;
            }

            header .tools .tool:last-child {
                border-right: none;
            }

    header .buttons {
        float: right;
        margin-right: 40px;
        margin-top: 6px;
    }

.tools .move {
    background-image: url(../img/move.png);
}

.tools .line {
    background-image: url(../img/line.png);
}

.tools .free {
    background-image: url(../img/free.png);
}

.tools .text {
    background-image: url(../img/text.png);
}

.tools .rectangle {
    background-image: url(../img/rectangle.png);
}

.tools .ellipse {
    background-image: url(../img/ellipse.png);
}

.tools .arrow {
    background-image: url(../img/arrow.png);
}

.tools .crop {
    background-image: url(../img/crop.png);
}

.body {
    margin-top: 45px;
}

.email {
    margin-top: 100px;
}

.options {
    float: left;
    margin-left: 50px;
    margin-top: 5px;
    width: 450px;
}

    .options .input-group {
        padding: 0 5px;
        float: left;
    }

        .options .input-group input {
            text-align: center;
        }

        .options .input-group.line-width, .options .input-group.font-size {
            width: 140px;
        }

        .options .input-group.color {
            width: 160px;
        }

.modal-dialog {
    margin-top: 100px;
}

.loading {
    width: 25px;
    height: 25px;
    -webkit-animation: loading 2s linear infinite both;
    animation: loading 2s linear infinite both;
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes loading {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
